# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/lib/viewModel
/lib/viewModel/firebase_options.dart
#/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/android/app/.cxx/Debug/1y381o2v/arm64-v8a/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/Debug/1y381o2v/arm64-v8a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/Debug/1y381o2v/arm64-v8a/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/Debug/1y381o2v/arm64-v8a/.cmake/api/v1/reply/cache-v2-0caf2bb556199b57739c.json
/android/app/.cxx/Debug/1y381o2v/arm64-v8a/.cmake/api/v1/reply/cmakeFiles-v1-3305e387661aed2d8dc7.json
/android/app/.cxx/Debug/1y381o2v/arm64-v8a/.cmake/api/v1/reply/codemodel-v2-76a05ecf82bfa4f843bc.json
/android/app/.cxx/Debug/1y381o2v/arm64-v8a/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/android/app/.cxx/Debug/1y381o2v/arm64-v8a/.cmake/api/v1/reply/index-2025-04-24T18-22-39-0635.json
/android/app/.cxx/Debug/1y381o2v/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/Debug/1y381o2v/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/Debug/1y381o2v/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/Debug/1y381o2v/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/Debug/1y381o2v/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
/android/app/.cxx/Debug/1y381o2v/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
/android/app/.cxx/Debug/1y381o2v/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/Debug/1y381o2v/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/Debug/1y381o2v/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
/android/app/.cxx/Debug/1y381o2v/arm64-v8a/CMakeFiles/cmake.check_cache
/android/app/.cxx/Debug/1y381o2v/arm64-v8a/CMakeFiles/rules.ninja
/android/app/.cxx/Debug/1y381o2v/arm64-v8a/CMakeFiles/TargetDirectories.txt
/android/app/.cxx/Debug/1y381o2v/arm64-v8a/additional_project_files.txt
/android/app/.cxx/Debug/1y381o2v/arm64-v8a/android_gradle_build.json
/android/app/.cxx/Debug/1y381o2v/arm64-v8a/android_gradle_build_mini.json
/android/app/.cxx/Debug/1y381o2v/arm64-v8a/build.ninja
/android/app/.cxx/Debug/1y381o2v/arm64-v8a/build_file_index.txt
/android/app/.cxx/Debug/1y381o2v/arm64-v8a/cmake_install.cmake
/android/app/.cxx/Debug/1y381o2v/arm64-v8a/CMakeCache.txt
/android/app/.cxx/Debug/1y381o2v/arm64-v8a/configure_fingerprint.bin
/android/app/.cxx/Debug/1y381o2v/arm64-v8a/metadata_generation_command.txt
/android/app/.cxx/Debug/1y381o2v/arm64-v8a/prefab_config.json
/android/app/.cxx/Debug/1y381o2v/arm64-v8a/symbol_folder_index.txt
/android/app/.cxx/Debug/1y381o2v/armeabi-v7a/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/Debug/1y381o2v/armeabi-v7a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/Debug/1y381o2v/armeabi-v7a/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/Debug/1y381o2v/armeabi-v7a/.cmake/api/v1/reply/cache-v2-064618c1605081ef3ae7.json
/android/app/.cxx/Debug/1y381o2v/armeabi-v7a/.cmake/api/v1/reply/cmakeFiles-v1-87ec728727f88dfde3a6.json
/android/app/.cxx/Debug/1y381o2v/armeabi-v7a/.cmake/api/v1/reply/codemodel-v2-3d054115d75c46b067ea.json
/android/app/.cxx/Debug/1y381o2v/armeabi-v7a/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/android/app/.cxx/Debug/1y381o2v/armeabi-v7a/.cmake/api/v1/reply/index-2025-04-24T18-22-41-0816.json
/android/app/.cxx/Debug/1y381o2v/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/Debug/1y381o2v/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/Debug/1y381o2v/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/Debug/1y381o2v/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/Debug/1y381o2v/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
/android/app/.cxx/Debug/1y381o2v/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
/android/app/.cxx/Debug/1y381o2v/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/Debug/1y381o2v/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/Debug/1y381o2v/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
/android/app/.cxx/Debug/1y381o2v/armeabi-v7a/CMakeFiles/cmake.check_cache
/android/app/.cxx/Debug/1y381o2v/armeabi-v7a/CMakeFiles/rules.ninja
/android/app/.cxx/Debug/1y381o2v/armeabi-v7a/CMakeFiles/TargetDirectories.txt
/android/app/.cxx/Debug/1y381o2v/armeabi-v7a/additional_project_files.txt
/android/app/.cxx/Debug/1y381o2v/armeabi-v7a/android_gradle_build.json
/android/app/.cxx/Debug/1y381o2v/armeabi-v7a/android_gradle_build_mini.json
/android/app/.cxx/Debug/1y381o2v/armeabi-v7a/build.ninja
/android/app/.cxx/Debug/1y381o2v/armeabi-v7a/build_file_index.txt
/android/app/.cxx/Debug/1y381o2v/armeabi-v7a/cmake_install.cmake
/android/app/.cxx/Debug/1y381o2v/armeabi-v7a/CMakeCache.txt
/android/app/.cxx/Debug/1y381o2v/armeabi-v7a/configure_fingerprint.bin
/android/app/.cxx/Debug/1y381o2v/armeabi-v7a/metadata_generation_command.txt
/android/app/.cxx/Debug/1y381o2v/armeabi-v7a/prefab_config.json
/android/app/.cxx/Debug/1y381o2v/armeabi-v7a/symbol_folder_index.txt
/android/app/.cxx/Debug/1y381o2v/x86/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/Debug/1y381o2v/x86/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/Debug/1y381o2v/x86/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/Debug/1y381o2v/x86/.cmake/api/v1/reply/cache-v2-378dd963db92077aba73.json
/android/app/.cxx/Debug/1y381o2v/x86/.cmake/api/v1/reply/cmakeFiles-v1-a434f505c6392cf2df05.json
/android/app/.cxx/Debug/1y381o2v/x86/.cmake/api/v1/reply/codemodel-v2-71585174e61357bc9367.json
/android/app/.cxx/Debug/1y381o2v/x86/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/android/app/.cxx/Debug/1y381o2v/x86/.cmake/api/v1/reply/index-2025-04-24T18-22-42-0338.json
/android/app/.cxx/Debug/1y381o2v/x86/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/Debug/1y381o2v/x86/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/Debug/1y381o2v/x86/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/Debug/1y381o2v/x86/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/Debug/1y381o2v/x86/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
/android/app/.cxx/Debug/1y381o2v/x86/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
/android/app/.cxx/Debug/1y381o2v/x86/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/Debug/1y381o2v/x86/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/Debug/1y381o2v/x86/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
/android/app/.cxx/Debug/1y381o2v/x86/CMakeFiles/cmake.check_cache
/android/app/.cxx/Debug/1y381o2v/x86/CMakeFiles/rules.ninja
/android/app/.cxx/Debug/1y381o2v/x86/CMakeFiles/TargetDirectories.txt
/android/app/.cxx/Debug/1y381o2v/x86/additional_project_files.txt
/android/app/.cxx/Debug/1y381o2v/x86/android_gradle_build.json
/android/app/.cxx/Debug/1y381o2v/x86/android_gradle_build_mini.json
/android/app/.cxx/Debug/1y381o2v/x86/build.ninja
/android/app/.cxx/Debug/1y381o2v/x86/build_file_index.txt
/android/app/.cxx/Debug/1y381o2v/x86/cmake_install.cmake
/android/app/.cxx/Debug/1y381o2v/x86/CMakeCache.txt
/android/app/.cxx/Debug/1y381o2v/x86/configure_fingerprint.bin
/android/app/.cxx/Debug/1y381o2v/x86/metadata_generation_command.txt
/android/app/.cxx/Debug/1y381o2v/x86/prefab_config.json
/android/app/.cxx/Debug/1y381o2v/x86/symbol_folder_index.txt
/android/app/.cxx/Debug/1y381o2v/x86_64/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/Debug/1y381o2v/x86_64/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/Debug/1y381o2v/x86_64/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/Debug/1y381o2v/x86_64/.cmake/api/v1/reply/cache-v2-b25f83d28bdb229aabd8.json
/android/app/.cxx/Debug/1y381o2v/x86_64/.cmake/api/v1/reply/cmakeFiles-v1-8ecc99bc4151a999047e.json
/android/app/.cxx/Debug/1y381o2v/x86_64/.cmake/api/v1/reply/codemodel-v2-067921eda8fe4fc11cb3.json
/android/app/.cxx/Debug/1y381o2v/x86_64/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/android/app/.cxx/Debug/1y381o2v/x86_64/.cmake/api/v1/reply/index-2025-04-24T18-22-42-0825.json
/android/app/.cxx/Debug/1y381o2v/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/Debug/1y381o2v/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/Debug/1y381o2v/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/Debug/1y381o2v/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/Debug/1y381o2v/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
/android/app/.cxx/Debug/1y381o2v/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
/android/app/.cxx/Debug/1y381o2v/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/Debug/1y381o2v/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/Debug/1y381o2v/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
/android/app/.cxx/Debug/1y381o2v/x86_64/CMakeFiles/cmake.check_cache
/android/app/.cxx/Debug/1y381o2v/x86_64/CMakeFiles/rules.ninja
/android/app/.cxx/Debug/1y381o2v/x86_64/CMakeFiles/TargetDirectories.txt
/android/app/.cxx/Debug/1y381o2v/x86_64/additional_project_files.txt
/android/app/.cxx/Debug/1y381o2v/x86_64/android_gradle_build.json
/android/app/.cxx/Debug/1y381o2v/x86_64/android_gradle_build_mini.json
/android/app/.cxx/Debug/1y381o2v/x86_64/build.ninja
/android/app/.cxx/Debug/1y381o2v/x86_64/build_file_index.txt
/android/app/.cxx/Debug/1y381o2v/x86_64/cmake_install.cmake
/android/app/.cxx/Debug/1y381o2v/x86_64/CMakeCache.txt
/android/app/.cxx/Debug/1y381o2v/x86_64/configure_fingerprint.bin
/android/app/.cxx/Debug/1y381o2v/x86_64/metadata_generation_command.txt
/android/app/.cxx/Debug/1y381o2v/x86_64/prefab_config.json
/android/app/.cxx/Debug/1y381o2v/x86_64/symbol_folder_index.txt
/android/app/.cxx/Debug/1y381o2v/hash_key.txt
