<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAe4NPf0tJwOqmN5I3myhDf4YJu0bukIjs</string>
	<key>GCM_SENDER_ID</key>
	<string>183795384114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.itbme.braintrainiv1.0.0</string>
	<key>PROJECT_ID</key>
	<string>braintrain-62f15</string>
	<key>STORAGE_BUCKET</key>
	<string>braintrain-62f15.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:183795384114:ios:3f7b0a4cd338d57aa9e12b</string>
</dict>
</plist>